.content-debst {
  margin-top: 50px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 20px #bcbcbc,
    -10px -10px 20px #ffffff;
    background-color: white;
}

.debt-content {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
}