h1,
h2,
h3,
p {
  margin-bottom: 0;
}

body {
  background-color: #92a2ff;
  color: var(--text-color);
  height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(to top, #b99396, #f7e0cd, #cedfe6, #f3f4f6);
}
main {
  padding-top: 30px;
}